<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Панель управления</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user/styles.css' %}">
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'user_cabinet' %}">Панель управления</a></li>
                    <li><a href="{% url 'employee_list' %}">Сотрудники</a></li>
                    <li><a href="{% url 'company_list' %}">Компании</a></li>
                    <li><a href="{% url 'department_list' %}">Отделы</a></li>

                    <li><a href="{% url 'country_list' %}">Страны</a></li>

                    <li><a href="{% url 'index' %}">На главную</a></li>

                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>
</body>
</html>